<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Buy this toy!</h5>
          <img class="image img-fluid" src="{{toys.image}}" />
          <p>
            <strong>ID</strong>: {{toys.id}}</p>
          <p>
            <p>
              <strong>User Name</strong>: {{toys.username}}</p>
            <p>
              <strong>Toy Name</strong>: {{toys.toyname}}</p>
            <p>
              <strong>Price</strong>: {{toys.price}}</p>
              <p>
            <strong>Location</strong>: {{toys.location}}</p>
            <p>
              <strong>Description:</strong> {{toys.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>