<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>

        <button class="btn btn-danger sell">
          <a href="/sell">Sell Your Item</a>
        </button>
        <h3>Card:</h3>

        {{#each examples}}
        <div class="card" data-id="{{this.id}}" style="width: 18rem;">
          <img class="card-img-top cardimage" src="{{this.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.username}}</h5>
            <h5 class="card-title">{{this.price}}</h5>
            <h5 class="card-title">{{this.location}}</h5>
            {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's
              content.</p> --}}
            <a href="sell/{{this.id}}" class="btn btn-primary">Go somewhere {{this.id}}</a>
          </div>
        </div>
        {{/each}}


      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>